version: '3.4'

services:
  vision_project_dev:
    build:
      context: .
      target: vision_project_dev
      network: host
    environment:
      DISPLAY: $DISPLAY
      QT_GRAPHICSSYSTEM: native
      ROS_DISTRO: noetic
      ROS_MASTER_URI: $ROS_MASTER_URI
      IS_DOCKER_ENV: "true"
      DISCORD_TOKEN:
      DISCORD_CHANNEL_ID:
    privileged: true
    network_mode: host
    devices: 
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
      - /dev/video2:/dev/video2
      - /dev/video3:/dev/video3
      - /dev/video4:/dev/video4
    volumes:
      - aws_config:/root/.aws/
      - mongodb_log:/root/mongodb_log
      - pycharm_config:/root/.PyCharmCE2020.2.1/
      - ros_logs:/root/.ros/log
      - scratch:/root/scratch/
      - workspace:/root/catkin_ws/
      - visual_code_plugins:/root/.vscode/
      - visual_code_user_data:/root/.visual_code/
      - ./shared/:/root/shared/
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ~/.config/gh/:/root/.config/gh/:ro
      - ~/.gitconfig/:/root/.gitconfig/:ro
      - ~/.vim/:/root/.vim/:ro
      - ~/.vimrc/:/root/.vimrc/:ro
    working_dir: /root/

volumes:
  aws_config:
  mongodb_log:
  pycharm_config:
  ros_logs:
  scratch:
  workspace:
  visual_code_user_data:
  visual_code_plugins:
